body {
    background-color: #cdc8c886; 
}

header, footer {
    background-color: #0d3c4c; 
    color: white;
    text-align: justify;
    padding: 10px;
    margin: 10px;
    border-radius: 10px; 
}

section {
    background-color: #E6E6FA; 
    color: #0d3c4c; 
    text-align: justify;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

header h1 {
    text-align: center;
}

p {
    color: #ffffff; 
    font-style: italic;
}

img {
    border: 5px solid black; 
    height: 30%;
    width: 40%;
}

ul {
    font-family: 'Arial', sans-serif;
}